@model CoolCare.Models.User

@{
    ViewBag.Title = "UserLogin";
    Layout = "~/Views/Shared/FormLayout.cshtml";

}
@{
    Html.RenderPartial("~/Views/Shared/HeaderPartialView.cshtml");
}

@if (ViewBag.showAlert != null && (bool)ViewBag.showAlert)
{



    <script src="~/Content/AdminDashboard/asset/vendor/jquery/jquery.min.js"></script>



    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </symbol>
        <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
        </symbol>
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </symbol>
    </svg>



    <div class="alertParent" style="display:none;">
        <div class="alert mt-5 alert-danger d-flex align-items-center justify-content-end CoolCareAlert" role="alert" style="width: 280px; position: fixed; top: 35px; right: 0; z-index: 10;">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill" /></svg>
            <div>
                Login Failed!
            </div>
            <button type="button" class="btn-close ms-4" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>




    <script>
        $(document).ready(function () {
            $('.alertParent').show();
            $('.alertParent').css("display", "block");
            setTimeout(function () {
                $('.alertParent').fadeOut('slow');
                $('.alertParent').css("display", "none !important");
            }, 5000);
        });
    </script>
}


<link href="~/Content/CoolCare/css/UserLogin.css" rel="stylesheet" />

<div class="container">

    @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @class = "formUserLogin" }))
    {
        @Html.AntiForgeryToken()

    <div class="row needs-validation form-horizontal">
        <h1 class="text-white" align="center">Login</h1>

        <hr />
        <h3 align="center" class="text-danger">@TempData["Message"]</h3>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-md-12 ">

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-12 col-lg-12 mt-3">
            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-12 text-center mt-5">
            @if (ViewBag.loginerror != null)
            {
                <h4 align="center" class="text-danger">@ViewBag.loginerror</h4>
            }

            else if (TempData["loginerror"] != null)
            {
                <h4 align="center" class="text-danger">@TempData["loginerror"]</h4>
            }
           
            <button class="btn btn-primary px-3 py-2 submitButton mt-3" onclick="validation()" type="submit">
                Submit
                form
            </button>
        </div>
    </div>
        <div>
            <p class="mb-0 text-center mt-3"><a href="@Url.Action("ForgotPassword","Forget")" class="createAccount text-white font-weight-bold">Forgot your password ?</a></p>
        </div>
        <div class="text-center mt-4">
            <p><small class="text-white mr-2">Don't have an account ?</small> <a href="/Login/UserSignUp" class="createAccount text-white font-weight-bold">Create an account</a></p>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

</div>

@{
    Html.RenderPartial("~/Views/Shared/FooterPartialView.cshtml");
}
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jquery")

@*<script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>*@