@model CoolCare.Models.User
@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/Admin.cshtml";
}


<!-- Bootstrap CSS -->
<link rel="stylesheet" media="all" href="/assets/application-43b63710717ea5a897ec20c979b5ae68d01e49e120d949b386c74fac04c5ea69.css" data-turbolinks-track="reload">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">

<link href="~/Content/AdminDashboard/asset/css/MyProfile.css" rel="stylesheet" />

<div>
    <base-header class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
                 style="min-height: 100px; background-image: url(/Content/AdminDashboard/asset/img/undraw_profile.svg); background-size: cover; background-position: center top;">
        <!-- Mask -->
        <span class="mask bg-gradient-success opacity-8"></span>
        <!-- Header container -->
        <div class="container-fluid d-flex align-items-center">
            <div class="row">
                <div class="col-lg-7 col-md-10">
                    <h1 class="display-2 text-white">Hello, @Model.FirstName </h1>

                    @*<a href="#!" class="btn btn-info">Edit profile</a>*@
                </div>
            </div>
        </div>
    </base-header>

    <div class="container-fluid mt--7">
        <div class="row">
            <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
                <div class="card card-profile shadow">
                    <div class="row justify-content-center">
                        <div class="col-lg-3 order-lg-2">
                            <div class="card-profile-image">
                                <a href="#">
                                    <img class="img-responsive img-profile rounded-circle" src="~/Content/AdminDashboard/asset/img/undraw_profile.svg" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                        <div class="d-flex justify-content-between">
                          
                        </div>
                    </div>
                    <div class="card-body pt-0 pt-md-4">
                        <div class="row">
                            <div class="col">
                                <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                                  
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <h3> @Model.FirstName</h3>
                            <div class="h5 font-weight-300">
                                <i class="ni location_pin mr-2"></i>@Model.City, @Model.State
                            </div>
                            <div class="h5 mt-4">
                                <i class="ni business_briefcase-24 mr-2"></i>
                                Cool Care
                            </div>
                            <div><i class="ni education_hat mr-2"></i>The Most Trustworthy Company For Ac Repair And Service</div>
                            <hr class="my-4">
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 order-xl-1">
                <div class="card shadow bg-secondary">
                    <div class="card-header">
                        <div class="bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-lg-8 sm-12">
                                    <h3 class="mb-0">My account</h3>
                                </div>
                                <div class="col-lg-4 sm-12 text-right">
                                    <input type="button" class="btn btn-primary" id="EditDetails" value="Edit Details">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm("MyProfile", "Admin"))
                        {
                            <h6 class="heading-small text-muted mb-4">User information</h6>
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group has-label">
                                            @Html.LabelFor(m => m.FirstName, new { @class = "form-control-label" })
                                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control form-control-alternative", @readonly = "readonly", placeholder = "First Name" })
                                            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                                          </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group has-label">
                                            @Html.LabelFor(m => m.LastName, new { @class = "form-control-label" })
                                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control form-control-alternative", @readonly = "readonly", placeholder = "Last Name" })
                                            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-4">
                            <h6 class="heading-small text-muted mb-4">Contact Information</h6>
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group has-label">
                                            @Html.LabelFor(m => m.Email, new { @class = "form-control-label" })
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-alternative", @readonly = "readonly", placeholder = "Email" })
                                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group has-label">
                                            @Html.LabelFor(m => m.MobileNumber, new { @class = "form-control-label" })
                                            @Html.TextBoxFor(m => m.MobileNumber, new { @class = "form-control form-control-alternative", @readonly = "readonly", placeholder = "Mobile Number" })
                                            @Html.ValidationMessageFor(m => m.MobileNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <hr class="my-4">
                            <h6 class="heading-small text-muted mb-4">Address information</h6>
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Address, new { @class = "form-control-label" })
                                            @Html.TextBoxFor(model => model.Address, new { @class = "form-control form-control-alternative", @placeholder = "Home Address", @readonly = "readonly" })
                                            @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.City, new { @class = "form-control-label" })
                                            @Html.TextBoxFor(model => model.City, new { @class = "form-control form-control-alternative", @placeholder = "City", @readonly = "readonly" })
                                            @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.State, new { @class = "form-control-label" })
                                            @Html.TextBoxFor(model => model.State, new { @class = "form-control form-control-alternative", @placeholder = "State", @readonly = "readonly" })
                                            @Html.ValidationMessageFor(m => m.State, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            @Html.HiddenFor(model => model.Password)
                                            @Html.HiddenFor(model => model.UserTypeId)
                                            @Html.HiddenFor(model => model.IsDeleted)
                                            @Html.HiddenFor(model => model.UserId)




                                            @Html.LabelFor(model => model.Pincode, new { @class = "form-control-label" })
                                            @Html.TextBoxFor(model => model.Pincode, new { @class = "form-control form-control-alternative", @placeholder = "Postal code", @readonly = "readonly" })
                                            @Html.ValidationMessageFor(m => m.Pincode, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                    <div class="col-lg-12 text-center">
                                        <button type="submit" class="btn btn-info">Submit</button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer px-4">
</footer>

<script>
    $(document).ready(function () {

        //let table = new DataTable("#dataTable")
        let flag = 0
        $(document.body).on('click', '#EditDetails', function () {
            //alert("Hey")
            if (flag == 0) {
                $("input").removeAttr("readonly");
                flag = 1
                $(this).val('Save Details')
            }
            else {
                $("input").attr("readonly", true);
                $(this).val('Edit Details')
                flag = 0
            }
        })
    });
</script>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>


@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jquery")


